
*.pkf
hardware/uratt/REV0/uratt/uratt-frontpanel.sch-bak
hardware/uratt/REV0/uratt/uratt.kicad_pcb-bak
hardware/uratt/REV0/uratt/uratt.sch-bak
hardware/uratt/REV0/uratt/uratt.bck
hardware/uratt/REV0/uratt/uratt-power.sch-bak
hardware/doorbot_lcd/doorbot_lcd/doorbot_lcd.bak
hardware/doorbot_lcd/doorbot_lcd/doorbot_lcd.kicad_pcb-bak
*.sch-bak
hardware/uratt/REV0/uratt/_autosave-uratt.kicad_pcb
