
*.pkf
hardware/uratt/REV0/uratt/uratt-frontpanel.sch-bak
hardware/uratt/REV0/uratt/uratt.kicad_pcb-bak
hardware/uratt/REV0/uratt/uratt.sch-bak
hardware/uratt/REV0/uratt/uratt.bck
hardware/uratt/REV0/uratt/uratt-power.sch-bak
