[submodule "firmware/rpi/meta-ratt"]
	path = firmware/rpi/meta-ratt
	url = https://github.com/makeitlabs/meta-ratt.git
[submodule "meta-mender"]
	path = firmware/rpi/meta-mender
	url = https://github.com/mendersoftware/meta-mender.git
[submodule "meta-jumpnow"]
	path = firmware/rpi/meta-jumpnow
	url = https://github.com/jumpnow/meta-jumpnow.git
	branch = dunfell
